.board_write_container{
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 200px;
}

.board_write_container > h2{
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 20px;
}
label{
    display: block;
    font-weight: bold;
    text-align: left;
    font-size: 1.3em;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1.3em;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-actions{
    text-align: right;
    margin-top: 20px;
}
.form-actions > button{
    width: 200px;
    padding:10px 0px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: 0px 10px;
    border: none;
    font-size: 1.3em;
}
.btn_write{
    background-color: green;
}
.btn_cancel{
    background-color: orangered;
}

.file_drop_area{
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    background-image: url(../../public/img/file.png);
    background-repeat: no-repeat;
    background-position: center;
}

.file_drop_area.drag_over{
    box-shadow: 0px 0px 10px 5px red;
}